body {
    font-family: Arial;
    background: #111;
    color: #eee;
    padding: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

#chat img {
    margin-top: 10px;
    border-radius: 10px;
}

